<!--jumbotron-->
<div class="jumbotron">
    <div class="row">

        <div class="col-lg-5">
            <h1 class="display-4 jumbo-title font-weight-bold">Hello, World</h1>
            <P class="jumbo-text">This is a simple hero unit, a simple jumbotron-style component for calling <br>extra
                attention to featured content or information.</P>
            <p class="text-primary">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <div class="col-lg-7">
            <img alt="car" src="/static/car.png" style="width:700px;">
            <!--            exp-->
            <form>
                <div class="form-row my-4">
                    <div class="col-5">
                        <input class="form-control" placeholder="make" type="text">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="Model" type="text">
                    </div>
                    <div class="col">
                        <input class="form-control" placeholder="year" type="text">
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>

            <p class="text-dark"> Search for the car of your dream</p>
            <!--          end exp  -->
        </div>
    </div>
</div> <!-- End of jumbotron -->