<!--https://www.cars.com/vehicledetail/dd9e4356-0dcd-4aac-aba7-8e5080c38b7f/-->
<!-- https://www.edmunds.com/toyota/rav4/2011/features-specs/ -->

{% extends "base_page.html" %}

{% block content %}


<div class="inventory-head">
    <h1>Listing of available cars {{ number}}</h1>
</div>

{% for car in cars %}
<a class="btn text-left btn-block  btn-light" href="#">
<div class="row ">
    <div class="col-2.8 pl-4 pr-0 ">
        <img src="https://www.trippycar.com/upload/car_img/2021/aug/31/car_img_046b944e70f11b3a1cde9724e3da2e44.jpg"
             style="height:9rem; width:14rem;">
    </div>
    <div class="pt-2 pb-2 pl-4">
        <h6>{{car.status}}</h6>
        <H4 class="text-secondary">{{car.year}} {{car.name}} - {{car.imported}} </H4>
        <hr class="my-0">
        <h2 class="font-weight-bold mt-0">{{car.price}}</h2>
        <p class="m-0">{{car.comment}}</p>
    </div>
</div> <!-- ENd of row -->
</a>
{% endfor %}
{% endblock %}